body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  .App {
    text-align: center;
  }
  
  .filter-controls {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
  }
  
  .marker-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .popup-content {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }
  